/* fira-sans-300 - latin-ext_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./fonts/fira-sans-v11-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-v11-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - latin-ext_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/fira-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fira-sans-v11-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* define project colors */
:root {
  --dark: #060644;
  --darker: #000000;
  --light: #F0F0EA;
  --lighter: #ffffff;
}

html {
  background: #edf0f2
}

body {
  margin: 0;
  background: var(--lighter);
  font-family: Fira Sans, sans;
  font-weight: 300;
  box-shadow: 0 2px 8px rgb(14 19 24 / 14%);
  line-height: 1.5
}


header {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #0000001f 3px 3px 5px 0;
  position: relative;
  font-size: 1.2rem;
  z-index: 42
}

.logo {
  text-decoration: none;
  color: var(--dark)
}

footer {
  background: var(--light);
  margin-top: 3.6rem;
  padding: 1.6rem 0;
}

.holder-in, .holder-fh {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box
}

.holder-fh {
  display: flex;
  justify-content: space-between;
  padding: 0px 3.4rem;
}

/* headings */

h1, h2, h3, h4 {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.2
}

h1 {
  font-size: 2.8rem;
  margin:0;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 1.2rem
}

.subtleh {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.4rem;
}

section {
  max-width: 1024px;
  margin: auto;
  padding: 8px 1.5rem;
  box-sizing: border-box;
}

.intro {
  background: var(--light);
  max-width: none;
  padding: 0;
  overflow: hidden;
  box-shadow: #0000002e 3px 3px 5px 0;
}

.holder-in {
  display: flex;
  justify-content: space-between;
}

.introcontainer {
  padding: 3rem 3.4rem;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%
}

.introcontainer > p {
  font-size: 1.45rem;
  margin:0;
  margin-bottom: 1.3rem;
}

.abtn {
  color: var(--lighter);
  background: var(--dark);
  padding: 12px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  border: none;
  font-family: Fira sans;
  cursor: pointer;
  box-shadow: #0000002e 3px 3px 5px 0;
}

.imgradient {
  height: 500px;
  margin-top: auto;
  position: relative
}

.imgradient > div {
  width: 150%;
  padding-bottom: 150%;
  background: #e4e4df;
  position: absolute;
  bottom: 20%;
  border-radius: 50%;
  box-shadow: #0000002e -3px -3px 5px 0;
}

.imgradient img {
  height: 120%;
  width: auto;
  z-index: 2;
  position: relative;
  display: block;
}


.threecol1, .threecol2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem
}



.edbox {
  background: var(--light);
  padding: 1.2rem;
  box-shadow: #0000002e 3px 3px 5px 0;
}

.upp {
  text-transform: uppercase;
}

.sixcol {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  list-style-type: none;
  gap: 1.2rem
}

.tools {
  background: var(--light);
  padding-bottom: 100%;
  position: relative;
  box-shadow: #0000002e 3px 3px 5px 0;
}

.toolsc {
  padding: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.toolsc > p {
  margin:0;
}

.toolsc > p:first-child {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.2
}

form {
  display: grid;
  padding: 1.2rem;
  gap: 1.2rem;
  background: var(--light);
  box-shadow: #0000002e 3px 3px 5px 0;
}

label {
  display: flex;
    flex-direction: column;
    color: var(--dark);
    font-weight: 500;
}

input {
  border: none;
    background: none;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    height: 1.6rem;
    font-size: 1rem;
    font-family: Fira sans;
    font-weight: 300;
    padding: 0.3rem 0;
}

textarea {
  border: none;
    background: none;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    height: 6rem;
    font-size: 1rem;
    font-family: Fira sans;
    font-weight: 300;
    padding: 0.3rem 0;
}

textarea:focus-visible, input:focus-visible {
  outline-offset: 3px;
}

.m0 {
  margin: 0
}

svg:hover > #heartcover {
  opacity: 0
}

#heartcover {
  transition: all .25s ease-in-out
}


.portobox {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  box-shadow: #0000002e 3px 3px 5px 0;
}

.portooverlay {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 100%;
  left: 0;
  background: var(--light);
  width: 100%;
  height: 100%;
  z-index: 5;
  padding: 1.2rem;
  box-sizing: border-box;
  word-wrap: break-word;
  color: var(--darker);
  text-decoration: none;
  outline-offset: -3px;
}

.portobox:hover .portooverlay, .portooverlay:focus-visible {
  top: 0;
}

.portooverlay:not(:focus) {
  transition: all .3s ease-in-out;
}

.portobox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media only screen and (max-width: 1024px) {

  .holder-fh, .introcontainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
  .edbox, .toolsc, .portooverlay, form {
    padding: 0.8rem
  }
  .imgradient {
    height: 450px;
  }
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 2.2rem;
  }
  .subtleh {
    font-size: 1.25rem
  }
  h3 {
    font-size: 1.7rem
  }
  .threecol2 {
    grid-template-columns: 1fr 1fr;
  }
  .threecol1 {
    grid-template-columns: 1fr;
  }
  .introcontainer {
    padding-right: 0;
  }
  .introcontainer > p {
    font-size: 1.2rem
  }
  .imgradient > div {
    left: 1.5rem;
  }
  .sixcol {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media only screen and (max-width: 600px) {
  .holder-in {
    flex-direction: column;
  }
  .introcontainer {
    padding-right: 1.5rem;
    padding-bottom: 0
  }
  .imgradient picture {
    margin: 0 auto;
    width: 80%;
  }
  .imgradient img {
    height: auto;
    width: 100%;
  }
  .imgradient > div {
    bottom: -60%;
margin-left: -25%;
left: 0;
  }
  .imgradient {
    height: auto;
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .threecol2 {
      grid-template-columns: 1fr;
  }
  .sixcol {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .introcontainer {
    padding-top: 1.5rem;
  }
  footer .holder-fh {
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .holder-fh, .introcontainer, section {
    padding-left: .8rem;
    padding-right: .8rem;
}
  .sixcol, .threecol1, .threecol2, .holder-fh {
    gap: .8rem
  }
  .toolsc, .edbox, .portoverlay, form {padding: .6rem}
}
